body
{
	margin:0px;
	font-family:sans-serif;
}



#menu
{
	float:left;
	width:289px;
	text-align:center;
	border-right:solid 1px black;
	height:100%;
}

textarea { height: auto; }

/* =======================================
AFFICHAGE DEPLACEMENTS
=========================================== */
@import url('https://fonts.cdnfonts.com/css/seven-segment');

#form_coordonnees input
{
	font-family: 'Seven Segment', sans-serif;
	font-size: 30px;
	background-color: #004400;
	color: #00FF00;
	width: 150px;
}
                

/* =======================================
BOUTONS DEPLACEMENTS
=========================================== */
.bouton
{
	display : inline-block;
	margin : 2px;
	margin-left:0px;
	margin-right:0px;
	padding : 5px;
	/*box-shadow: 2px 2px 2px #AAAAAA;*/
	text-align:center;
	border-top : solid 2px #EEEEEE;
	border-bottom : solid 2px #888888;
	border-right : solid 2px #888888;
	border-left : solid 2px #EEEEEE;
	user-select: none;
	cursor:pointer;
}

.bouton_deplacement
{
	height:70px;
	vertical-align:middle;
}

/* Centre */
.bouton_deplacement.centre img
{
	height:100%;
	margin:auto;
	width:60px;
}

/* Coté */
.bouton_deplacement.gauche,.bouton_deplacement.droite
{
	cursor:pointer;
	width:20px;
	background-color:#DDDDDD;
}
.bouton_deplacement.gauche:hover,.bouton_deplacement.droite:hover
{
	background-color:#AAAAFF;
}
.bouton_deplacement.gauche:active,.bouton_deplacement.droite:active
{
	border-bottom : solid 2px #EEEEEE;
	border-top : solid 2px #888888;
	border-left : solid 2px #888888;
	border-right : solid 2px #EEEEEE;
}
	
.bouton_deplacement.gauche
{
	border-radius : 10px 0 0 10px;
}

.bouton_deplacement.droite
{
	border-radius : 0 10px 10px 0;
}





/* =======================================
ARBRE
=========================================== */

#arbre
{
	width:250px;
	border:solid 1px;
	margin:auto;
	min-height:200px;
	text-align:center;
	
	border-bottom : solid 2px #EEEEEE;
	border-top : solid 2px #888888;
	border-left : solid 2px #888888;
	border-right : solid 2px #EEEEEE;
}


/* ITEMS */
#arbre .item
{
	width:240px;
	min-width : 20px;
	border-radius:10px;
	margin:3px;
	overflow:hidden;
	box-shadow: 2px 2px 2px #AAAAAA;
}


#arbre .item .titre-item
{
	background-color:black;
	color:white;
	margin:0px;
	min-height:30px;
	cursor:pointer;
}



#arbre .item .contenu-item
{
	display:none;
}


/* MENU ITEM */



#arbre .bouton_item
{
	height:30px;
	width:30px;
	cursor:pointer;
	display:inline-block;
	background-size:30px 30px;
}


#arbre .bouton_visible.visible
{
	background-image:url("../images/visible.svg");
}
#arbre .bouton_visible.visible:hover
{
	background-image:url("../images/invisible.svg");
}
#arbre .bouton_visible.invisible
{
	background-image:url("../images/invisible.svg");
}
#arbre .bouton_visible.invisible:hover
{
	background-image:url("../images/visible.svg");
}

#arbre .bouton_supprimer
{
	background-image:url("../images/supprime.svg");
}

#arbre .bouton_calculette
{
	background-image:url("../images/calculette.svg");
}

.range_visible_item
{
	display:inline-block;
}

.range_visible_item input
{
	width:50px;
}

/* NUAGE DE POINTS */



.nuage_valeurs
{
	margin:auto;
	border:solid 1px;
	width:235px;
	text-align:center;
}






/* =======================================
NOUVEL ITEM
=========================================== */


#tab_new_item_bouton_add_contrainte_plan, #tab_new_item_bouton_add_contrainte_cylindre, #tab_new_item_bouton_assemble_ajoute_nuages
{
	cursor:pointer;
	background-color:#CCCCCC;
	width:200px;
	text-align:center;
	border-radius:5px;
	margin:auto;
	margin-bottom:3px;
}


#tab_new_item_liste_contraintes_plan, #tab_new_item_liste_contraintes_cylindre, #tab_new_item_liste_assemble_nuage
{
	min-height:100px;
	border:solid 1px;
}

.tab_new_item_contrainte_plan, .tab_new_item_contrainte_cylindre, .tab_new_item_assemble_nuage
{
	padding:5px;
	background-color:#AAAAFF;
	border-bottom: solid 2px #0000FF;
	border-right: solid 2px #0000FF;
	border-left: solid 2px #DDDDFF;
	border-top: solid 2px #DDDDFF;
	border-radius:5px;
}


.choix_contrainte_nuage, .choix_assemblage_nuage_nuage
{
	display:inline-block;
}


.bouton_autosupprime_dans_liste
{
	float:right;
	cursor:pointer;
	padding:0px;
	margin:0px;
	margin-top:-2px;
	height:30px;
	width:30px;
	vertical-align:middle;
	background-image:url('../images/supprime.svg');
	background-size: 30px 30px;
	background-repeat: no-repeat;

}
.bouton_autosupprime_dans_liste img
{
	height:30px;
	vertical-align:middle;
}



/* VOILE NOIR modal ****** */
#voileNoir
{
	background-color:#888888;
	position:fixed;left:0;top:0;
	width:100%;height:100%;
	opacity:.80;
	z-index:9998;
	display:none;
}
#voileNoir div
{
	position : absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
	margin:auto;
	
	color:white;
	font-weight:bold;
	font-size:large;
	
}

#pourcentage_calcul
{
	font-weight:normal;
	font-style:italic;
	font-size:small;
}

*html #voileNoir	/*--Gérer la position fixed pour IE6--*/
{
	position: absolute;
}

/* =====================================
MENU d'ouverture des Pièces
=======================================*/

#boite_ouvrir_piece_contenu
{
	text-align : center;
}

.piece_a_ouvrir
{
	display : inline-block;
	width : 200px;
	height : 200px;
	background-color : #DDEEFF;
	border-radius : 10px;
	text-align : center;
	text-decoration : none;
	margin:auto;
	margin:5px;
	box-shadow: 8px 8px 12px #aaa;
	vertical-align:top;
}

.piece_a_ouvrir:hover
{
	margin-top:8px;
	margin-left:8px;
	margin-bottom:2px;
	margin-right:2px;
	box-shadow: 5px 5px 6px #666;
}

.piece_a_ouvrir h1
{
	text-decoration : none;
	font-size : 15px
	
}

.piece_a_ouvrir h1:first-letter {
    text-transform: uppercase;
}

.piece_a_ouvrir .image_mecanisme_a_ouvrir
{
	margin : 2px;
	max-width:100%;
	height:150px;
}

.piece_a_ouvrir .image_piece_a_ouvrir img
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
}


